body {
  background-color: #b0b0b0;
}

hr {
  border-style: solid;
  border-color: #ffffff;
  border-width: thin
}

.cardTemplate {
  height: 360px;
  width: 640px;
  margin: auto;
  position: relative;
  transition: all 0.2s;
  perspective: 900px;
}

.englishVocab, .japaneseVocab {
  height: 360px;
  width: 640px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  text-align: center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all 0.4s;
}

.englishVocab {
  background-color: #ffffff;
}

.japaneseVocab {
    background-color: #fbfbfb;
    transform: rotateY(-180deg);
  }

  .flipped .japaneseVocab {
    transform: rotateY(0deg);
  }

  .flipped .englishVocab {
    transform: rotateY(180deg);
  }

  button {
    border: none;
    border-color: #c0c0c0;
    color: #081280;
    padding: 10px 20px;
    font-size: 20px;
  }

  button:hover {
    border-color: #081280;
    background-color: #081280;
    color: #ffffff;
  }
